*.css linguist-vendored
*.scss linguist-vendored
*.blade linguist-detectable=false
*.blade.php linguist-detectable=false
*.html linguist-detectable=false
*.less linguist-detectable=false
*.py linguist-detectable=false
*.vue linguist-detectable=false
*. coffee.md linguist-detectable=false
*.sh linguist-detectable=false
*.hbs linguist-detectable=false
*.coffee  linguist-detectable=false
*.html linguist-detectable=false


CHANGELOG.md export-ignore

*.js linguist-detectable=false
*.hbs linguist-detectable=false

